.about {
    text-align: center;
    flex-direction: column;
}

.line {

}

.h1 {
    text-align: center;
}

.linkon {
    text-align: center;
    color: #67b168;
}

.addcontact {
    color: #0083C9;
    text-align: center;
}

.h5 {
    text-align: center;
}

.updateform {
    text-align: center;
}

.del {
    text-align: center;
}

.create {
    text-align: center;
}

.currentpage {
    color: #FE980F;
}

.paginationnn {
    text-align: center;
    letter-spacing: 10px
}

.select {
    width: 150px;
    border: 10px;
}

.phpContact {
    font-size: 10px;
    color: #245269;
}

.phpType {
    font-size: 10px;
}

.deleteimage {
    width: 20px;
    height: 20px;
    /*    margin-left: 25px;*/
    border-spacing: 50px;
    border-collapse: separate;
}

.editimage {
    width: 20px;
    height: 20px;
}

.booody {
    margin-left: 30px;
    margin-right: 30px;
}

.contactTable {
    width: 250px;
    border: 1px solid #ddd !important;
}

.imageforadd {
    width: 40px;
    height: 40px;
    margin-left: 265px;
    margin-top: -43px;
}

.editcontactbody {
    text-align: center;
}

.deletebody {
    text-align: center;
}

.addbody {
    text-align: center;
}