
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0px;
	background: #C0C0C0;
	text-align: justify;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	font-style: italic;
	color: #7D807A;
}

h1, h2, h3 {
	color: #AA2808;
}

h1 {
}

h2 {
}

h3 {
}

p, blockquote, ul, ol {
	margin-bottom: 20px;
	line-height: 2em;
}

p {
}

blockquote {
}

ul, ol, li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

a {
	text-decoration: underline;
	color: #E14949;
}

a:hover {
	text-decoration: none;
	color: #C11414;
}

/* Wrapper */

#wrapper {
}

/* Header */

#header {
	width: 900px;
	height: 140px;
	margin: 0 auto;
	background: url(/template/images/img01.jpg) no-repeat left top;
}

/* Logo */

#logo {
	float: left;
	width: 270px;
	height: 70px;
	margin: 0px;
	padding-left: 30px;
	text-align: center;
}

#logo h1 {
	margin: 0;
	padding: 10px 0px 0px 0px;
	text-transform: lowercase;
	font: normal 46px Georgia, "Times New Roman", Times, serif;
}

#logo h2 {
	margin: -2px 0 0 0;
	padding: 0;
	text-transform: lowercase;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	color: #FFFFFF;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	width: 872px;
	height: 41px;
	margin: 0 auto;
	padding: 0px 0px 0px 28px;
	background: url(/template/images/img02.jpg) no-repeat left top;
}

#menu ul {
	margin: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
	text-align: center;
}

#menu a {
	height: 33px;
	display: block;
	float: left;
	padding: 8px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	color: #FFFFFF;
}

#menu a:hover, #menu .active a {
	background: #C11212;
	color: #FFFFFF;
}

#splash {
	width: 940px;
	height: 299px;
	margin: 0 auto;
}

/* Search */

#header-search {
	width: 940px;
	height: 51px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

#header-search form {
	float: right;
	width: 300px;
	margin: 0;
	padding: 12px 0px 0px 0px;
}

#header-search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#header-search-text {
	width: 200px;
	padding: 2px 3px;
	background: #1E1E1E;
	border: none;
	color: #4D4D4D;
}

#header-search-submit {
	background: none;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #E4E4E4;
}

#search {
	height: 51px;
	margin: 0 auto;
	padding: 0px 0px 60px 0px;
}

#search form {
	margin: 0;
	padding: 12px 0px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	font: 12px Arial, Helvetica, sans-serif;
}

#search-text {
	width: 160px;
	height: 18px;
	padding: 3px 0 3px 5px;
	border: 1px solid #999999;
	color: #000000;
}

#search-submit {
	margin-left: 10px;
	padding: 4px 4px;
	border: none;
	background: #C11212;
	font-size: 10px;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 844px;
	margin: 0 auto;
	padding: 0px 28px;
	background: #FFFFFF url(/template/images/img05.jpg) repeat-y left top;
}

/* Content */

#content {
	float: left;
	width: 560px;
	padding-top: 30px;
}
.post {
	background: url(/template/images/img04.gif) repeat-x left bottom;
	margin: 0px 0px 30px 0px;
}

.post .title {
	background: url(/template/images/img03.jpg) no-repeat left 0px;
	margin: 0px;
	color: #BF0B0B;
}

.post .title a {
	padding: 0px 0px 0px 40px;
	letter-spacing: -1px;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 28px;
	font-weight: normal;
	font-style: italic;
	color: #BF0B0B;
}

.post .entry {
	padding: 20px 0px;
}

.post img {
	float: left;
	padding: 15px 0px;
}

.post .meta {
	text-align: right;
	padding: 0px 0 20px 0;
	font-weight: bold;
	color: #202020;
}

.post .byline {
	padding-left: 40px;
	font-size: 12px;
	font-style: italic;
	text-transform: lowercase;
	color: #7D807A;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 230px;
	margin: 20px 0px;
	padding: 10px 0px 30px 30px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 1px;
}

#sidebar li ul {
	margin: 0px;
	padding: 0px 0px 40px 27px;
}

#sidebar li li {
	margin: 0;
	padding: 9px 0px;
	border: none;
	background: none;
}

#sidebar h2 {
	margin: 0px;
	padding: 0px 0px 10px 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
	color: #BF0B0B;
}

#sidebar h3 {
	font-size: 77%;
	color: #110404;
}

#sidebar p {
	margin: 0;
	line-height: normal;
	color: #D4C792;
}

#sidebar a {
	border: none;
	text-decoration: none;
	color: #7D807A;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Submenu */

#submenu {
}

/* News */

#news {
}

#news a {
	font-size: 85%;
}

/* Footer */

#footer {
	width: 960px;
	height: 100px;
	margin: 0 auto;
	padding: 14px 0px 0px 0px;
	background: url(/template/images/img04.jpg) no-repeat left top;
	color: #9C9C9C;
}

#footer p {
	margin: 0;
	text-align: center;
	font-size: 11px;
}

#footer a {
	text-decoration: underline;
	color: #808080;
}

#footer a:hover {
	text-decoration: none;
}